
* {
    margin: 0;
    padding: 0;
}



.cardBox {
    /* position: relative;*/
    width: 100%;
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 30px;
   
}

    .cardBox .card {
        /* position: relative;*/
        background: white;
        padding: 20px;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        box-shadow: 0 7px 25px;
        
    }

    .cardBox .card .number {
        color: black;
        font-size: 14px;
        margin-top: 2px;
        transition:0.5s;
        text-align:center;
    }

    .cardBox .card .name {
        position: relative;
        font-weight: 500;
        font-size: 16px;
        color: black;
        text-align:center;
    }

    .cardBox .card .icon {
        font-size: 24px;
        color: black;
        text-align:center;
    }

    .cardBox .card:hover {
        background: lime;
    }

    .cardBox.card.number,
    .cardBox.card.name,
    .cardBox.card.icon {
        color: white;
    }



.color span {
    width: 50px;
    height: 20px;
    border-radius: 50%;
    color: aquamarine;  
}
.color.color-lime{  
    background:lime;
}
.color.color-red {
    background: red;
}
.color.color-grown {
    background: #e2e239;
}
.selectitem_dropdown::-ms-expand{
        display:none;
    }
.selectitem_dropdown {
    margin-top:15px;
    position: relative;
    display: flex;
    width: 250px;
    height: 40px;
    line-height: 4;
    background: white;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    font-size:14px;
}
.selectitem_dropdown::after{
    position:absolute;
    top:0;
    right:0;
    content:'\25BC';
    padding: 0 20px;
    pointer-events:none;
    transition:0.25s;
}
.selectitem_dropdown:hover{
    color:aquamarine;
}